

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,700,900');


p{
	padding: 0px;
	margin: 0px!important;
	font-family: 'Montserrat', sans-serif;
}
.text-infoc{
	color: $mainc1!important;
	font-weight: 500;
}
a{
	font-family: 'Montserrat', sans-serif;
}
li{
	font-family: 'Montserrat', sans-serif;
}