@font-face {
    font-family: "Kristi";
    src: url("/Kristi-Regular.eot");
    src: url("/Kristi-Regular.eot?#iefix") format('embedded-opentype'),
         url("/Kristi-Regular.woff2") format('woff2'),
         url("/Kristi-Regular.woff") format('woff'),
         url("/Kristi-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}